<div class="container">
  <%= form_with(model: @article, local: true, data: { turbo: false }) do |f| %>
    <%= render 'shared/errors', obj: @article %>
    <div class="mb-3">
      <%= f.label :title, class: 'form-label' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title of the Article' %>
    </div>
    <div class="mb-3">
      <%= f.label :description, class: 'form-label' %>
      <%= f.text_area :description, class: 'form-control', placeholder: 'Description of the Article', rows: '7', style: 'resize: none' %>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Form Articles">
      <%= f.submit disable_with: 'Submiting...', class: 'btn btn-success' %>
      <%= link_to 'Back to the List of Articles', articles_path, class: 'btn btn-secondary' %>
    </div>
  <% end  %>
</div>
