<div class="container">
  <div id="show-container" class="text-center">
    <h1><%= @article.title %></h1>
    <br>
    <div class="card shadow p-3 mb-4 bg-body rounded">
      <div class="card-header fst-italic">Featured by: <%= @article.user.username %></div>
      <div class="card-body">
        <div class="card-text text-start"><%= simple_format(@article.description) %></div>
        <%= link_to 'Edit this Article', edit_article_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'Back to Articles', articles_path, class: 'btn btn-outline-success' %>
      </div>
      <div class="card-footer text-muted">
        <small>
          Created <%= time_ago_in_words(@article.created_at) %> ago,
          Edited <%= time_ago_in_words(@article.updated_at) %> ago
        </small>
      </div>
    </div>
  </div>
</div>
