<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <%= link_to "Alpha Blogs", root_path, class: "logo navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= create_active_link "Bloggers", users_path, ["nav-link"] %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= define_active_link "articles" %>" 
            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= create_active_link "List All Articles", articles_path, ['dropdown-item'] %></li>
            <li><%= create_active_link "New Article", new_article_path, ['dropdown-item'] %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= create_active_link "About Alpha Blog", about_path, ["nav-link"] %>
        </li>
      </ul>
      <form class="d-flex">
        <%= form_tag(articles_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search], class: 'form-control me-2', placeholder: 'Search') %>
          <%= submit_tag ("Search"), class: 'btn btn-outline-success' %>
        <% end  %>
      </form>
    </div>
  </div>
</nav>
